.container {
  height: 50px;
  width: 100%;
  /* border: 3px solid grey; */
  display: grid;
  place-items: center;
  background-color: rgb(231, 228, 228);
  cursor: pointer;
}
.container:hover {
  background-color: rgb(165, 165, 213);
}
